@import 'variables';
@import 'media';
.burger {
    @extend %burger;
    transform: translateX(-100%);
    @include desktop {
        transform: translateX(0);
    }
    &__active {
        @extend .burger;
        transform: translateX(0);
    }
    &__header {
        margin: 0 5px 16px 0;
    }
    &__header-nav {
        @extend %flex_center;
        background: $white;
    }
    &__header-nav_search:hover {
        transition: 5s;
        filter: blur(20px);
    }
    &__header-nav_exit {
        @include desktop {
            display: none;
        }
        &:hover {
        transition: 3s;
        filter:hue-rotate(500deg);
    }
    }
    &__content-title {
        color: #7E7E82;
        @include font-style(16px, 500, 24px, -0.2px);
        width: 100%;
        margin-bottom: 8px;
    }
    &__content-nav_text {
        text-decoration: none;
        color: $black_text;
        @include font-style(16px, 500, 24px, -0.2px);
    }
    &__content-nav_link {
        margin-bottom: 8px;
    }
    &__footer {
        position: fixed;
        left: 0;
        bottom: 100px;
        padding-left: 23px;
    }
    &__footer-nav {
        display: flex;
        justify-content: flex-start;
    }
    &__footer-nav_link {
        margin-right: 16px;
        &:hover {
            transition: 1s;
            filter: grayscale(100%);
        }
    }
    &__footer-email_link {
        color: $black_text;
        @include font-style(16px, 500, 24px, -0.2px);

    }
    &__footer-phone_link {
        color: $black_text;
        @include font-style(24px, 700, 32px, -0.6px);
    }
}