.info {
    margin-bottom: 32px;
    padding-left: 16px;

    &__text {
        width: 288px;
        flex: 1 50%;
        font-size: 14px;
        line-height: 20px;
        margin-right: 32px;
    }
    &__img {
        flex: 1 50%;
        width: 320px;
    }
    
    &__img_size {
        width: 288px;
    }
}