.nav {
    display: flex;
    align-items: center;
    background: #fff;

    // &__burger {
    //     border: none;
    //     background-color: #fff
    // }

    &__burger {
        border-right: 1px solid #fff;
        margin-right: 18px;
    }
    &__logo {
        border-right: 1px solid #eaeaea;
        padding-right: 18px;
    }
    &__phone {
        display: none;
    }
    &__chat {
        display: none;
    }
    &__user {
        display: none;
    }
    &__repairs {
        padding-left: 20px;
    }
    &__status {
        padding-left: 16px;
    }
}