.services {
    background: #F8F8F8;
    margin: 0;
    padding: 0;
    max-width: 288px;
    padding-left: 16px;

    &__title {
        position: relative;
        width: 310px;
        height: 80px;
        background: linear-gradient(270deg, #FFF 0%, #F8F8F8 100%);
    }
    
    &__title_text {
        position: absolute;
        top: 30%;
        color: #7E7E82;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        padding-bottom: 30px;
    }
    &__list {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        max-width: 288px;
        padding-top: 10px;
    }
    
    &__list_card {
        display: flex;
        height: 72px;
        flex-shrink: 0;
        border-radius: 6px;
        border: 1px solid #EAEAEA;
        background: #FFF;
        align-items: center;
        justify-content: space-between;
        margin: 8px;
        padding: 0 16px;
    }
    
    &__nav {
        margin-left: 16px;
        margin-top: 5px;
        height: 20px;
        margin-bottom: 16px;
    }
    &__list_nav {
        display: inline;
    }
    &__list_nav2 {
        display: inline;
    }
    &__cards {
        margin-top: 16px;
        display: flex;
        overflow-x: auto;
    }
    
    &__price {
        margin-top: 16px;
        display: flex;
        overflow-x: auto;
    }
    
    &__cards-item {
        position: relative;
        min-width: 240px;
        height: 160px;
        border: 1px solid #eaeaea;
        border-radius: 6px;
        background-color: #fff;
        padding: 16px;
        margin-right: 16px;
    }
    
    &__cards-price {
        position: relative;
        min-width: 242px;
        height: 190px;
        border: 1px solid #eaeaea;;
        border-radius: 6px;
        background-color: #fff;
        padding: 16px 16px 0 16px;
        margin-right: 16px;
        font-size: 14px;
        line-height: 18px;
    }
    
    &__cards-item_link {
        position: absolute;
        bottom: 16px;
        right: 16px;
    }
    
    &__list_buttons {
        display: none;
    }

    &__container-list {
        display: none;
    }

    &__cards_flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.show-button,
.hide-button {
    color: #1B1C21;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    margin-top: 10px; 
    padding: 10px 20px; 
    background-color: #F8F8F8;
    border: none; 
    cursor: pointer;
}

.show-button:hover,
.hide-button:hover {
    color: #777373;
}