.title {
    width: 320px;
    padding-left: 16px;

    &__text {
        color: #1B1C21;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: -0.6px;
    }

    &__nav {
        display: none;
    }
}