@import "~normalize.css";
@font-face {
    font-family: 'TT Lakes';
    src: url("../assets/fonts//TT\ Lakes\ Regular.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: 'TT Lakes';
    background-color: #f8f8f8;
}
@import "header";
@import "burger";
@import "callback";
@import "call";
@import "services";
@import "nav";
@import "info";
@import "container";
@import "scroll";
@import "title";
@import "content-info";
@import "footer";
