@font-face {
    font-family: 'TT Lakes';
    src: url("../assets/fonts//TT\ Lakes\ Regular.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'TT Lakes';
}

.header {
    padding: 42px 16px;
}

.nav__burger {
    border: none;
    background-color: #fff
}

.nav {
    display: flex;
    align-items: center;
    background: #fff;
}

@media (min-width: 318px) {
    .nav__burger {
        border-right: 1px solid #fff;
        margin-right: 18px;
    }
    .nav__logo {
        border-right: 1px solid #eaeaea;
        padding-right: 18px;
    }
    .nav__phone {
        display: none;
    }
    .nav__chat {
        display: none;
    }
    .nav__user {
        display: none;
    }
    .nav__repairs {
        padding-left: 20px;
    }
    .nav__status {
        padding-left: 16px;
    }
    .title__nav {
        display: none;
    }
    .content__img_size {
        width: 320px;
        height: 230px;
    }
}

@media (min-width: 567px) {
    .nav__burger {
        border-right: 1px solid #eaeaea;
        padding-right: 20px;
    }
    .nav__logo {
        border-right: 1px solid #fff;
        padding-right: 18px;
    }
    .nav__phone {
        display: block;
        padding-left: 20px;
    }
    .nav__chat {
        display: block;
        padding-left: 20px;
    }
    .nav__user {
        display: block;
        padding-left: 20px;
    }
    .nav__repairs {
        display: block;
        padding-left: 20px;
    }
    .nav__status {
        display: block;
        padding-left: 16px;
    }
    .title__nav {
        display: none;
    }
    .content__img_size {
        width: 360px;
        height: 260px;
        margin-top: 25px;
    }
}


@media (min-width: 767px) {
    .nav__burger {
        border-right: 1px solid #eaeaea;
        padding-right: 20px;
    }
    .nav__logo {
        border-right: 1px solid #fff;
        padding-left: 21px;
    }
    .nav__phone {
        display: block;
        padding-left: 240px;
    }
    .nav__chat {
        display: block;
        padding-left: 16px;
    }
    .nav__user {
        border-right: 1px solid #eaeaea;
        display: block;
        padding-left: 16px;
        padding-right: 20px;
    }
    .nav__repairs {
        display: block;
        padding-left: 20px;
    }
    .nav__status {
        display: block;
        padding-left: 16px;
        padding-right: 24px;
    }
    .title__nav {
        display: none;
    }
    .content {
        display: flex;
        /* justify-content: space-between;
        flex-wrap: wrap; */
    }
}

@media (min-width: 1119px) {
    .header {
        display: none;
    }
    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .title__nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .title__nav_item1 {
        margin-left: 450px;
    }
    .title__nav_item2 {
        margin-left: 8px;
    }
    .title__nav_item3 {
        margin-left: 32px;
    }
    .title__nav_item4 {
        margin-left: 8px;
    }
    .content__img_size {
        width: 531px;
        height: 383px;
        margin-top: 25px;
    }
    .content {
        display: flex;
        /* justify-content: space-between;
        flex-wrap: wrap; */
    }
}

.burger {
    position:fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 320px;
    background-color: #fff;
    right: -100%;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    transform: translateX(-100%);
	transition: transform 0.5s;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px;
    padding: 23px 24px 32px;
}

.burger.active {
    transform: translateX(0);
}

.burger__header {
    margin: 30px 5px 50px 0;
}

.burger__header-nav {
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: space-between;
}

.burger__header-nav_search:hover {
    transition: 5s;
    filter: blur(20px);
}
.burger__header-nav_exit:hover {
    transition: 3s;
    filter:hue-rotate(500deg);
}

.burger__content-title {
    color: #7E7E82;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    width: 100%;
    margin-bottom: 32px;
}
.burger__content-nav_text {
    text-decoration: none;
    color: #1B1C21;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.burger__content-nav_link {
    margin-bottom: 32px;
}
.burger__footer {
    position: fixed;
    left: 0;
    bottom: 100px;
    padding-left: 23px;
}
.burger__footer-nav {
    display: flex;
    justify-content: flex-start;
}
.burger__footer-nav_link {
    margin-right: 16px;
}
.burger__footer-nav_link:hover {
    transition: 1s;
    filter: grayscale(100%);
}
.burger__footer-email_link {
    color: #1B1C21;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
}
.burger__footer-phone_link {
    color: #1B1C21;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px;
}
input {
    display: none;
}